h1 {
  color: white;
}

body {
  background-image: url('http://www.unsigneddesign.com/Seamless_background_textures/1200px/seamlesstexture14_1200.jpg');
}

body.edit {
  background-image: url('http://www.unsigneddesign.com/Seamless_background_textures/1200px/seamlesstexture1_1200.jpg')
}

ul.title-area {
  background-color: #DC143C; 
}

button {
  background-color: #B8860B;
}


