table {
  : center;
}

body {
  background-image: url('http://www.pixeden.com/media/k2/galleries/442/002-subtle-light-pattern-background-texture-vol6.jpg');
}

ul.title-area {
  background-color: #DC143C; 
}

button {
  background-color: #B8860B;
}